---
import CorouselServices from "@/components/common/CarouselServices.astro";
import Layout from "../layouts/Layout.astro";

import dateBanner from "@/assets/index_icons/banner_agendar.webp?url";
import checkedIcon from "@/assets/index_icons/checked.svg?raw";
import Card from "@/components/Card.astro";
import Corousel from "@/components/common/Corousel.astro";
import CorouselInfinite from "@/components/common/CorouselInfiity.astro";
import Button from "@/components/common/Button.astro";
import { Map } from "@/components/ui/map";

// img card headquarter
import img1 from "@/images/Sedes/Cucuta/Sede 1/SEDE-1-1.webp";
import img2 from "@/images/Sedes/Cucuta/Sede 1/SEDE-1-2.webp";
import img3 from "@/images/Sedes/Cucuta/Sede 1/SEDE-1-3.webp";
---

<Layout
  title="Nordvital IPS | Servicios médicos de calidad en Colombia"
  description="Nordvital IPS ofrece servicios médicos de alta calidad, con 11 sedes habilitadas y atención personalizada. Consulta médica, especialistas y más."
>
  <main class="bg-gray-100">
    <div class="">
      <Corousel />

      <!-- ? text start -->
      <div
        aria-label="Introduccion"
        class="grid grid-cols-1 p-2 lg:grid-cols-2 max-w-230 my-11 rounded-lg bg-nordvital-primary/20 mx-auto gap-3 mb-20 text-center md:text-left shadow-lg"
      >
        <div
          class="flex p-3 rounded-lg items-center justify-center h-full bg-gray-200/50 w-[90%] md:w-full mx-auto"
        >
          <h1 class="text-2xl md:text-3xl mx-auto font-bold ">
            Una 
            <span class="text-nordvital-primary font-bold">IPS</span>
            comprometida con sus usuarios
          </h1>
        </div>
        <div class="mx-auto p-3 w-[95%] md:w-full">
          <span class="text-xl font-bold line-clamp-1">Nordvital IPS</span>
          <p class="text-base text-gray-700 line-clamp-2 text-left">
            Se destaca garantizando una atención médica de calidad, accesible y
            disponible para todos.
          </p>
        </div>
      </div>
    </div>

    <!-- ? carousel inifinito -->
    <div class="mb-20">
      <CorouselInfinite />
    </div>

    <!-- ? section video -->
    <div
      aria-label="Video institucional"
      class="grid grid-cols-1 lg:grid-cols-2 w-11/12 mx-auto gap-6 p-2 mb-20"
    >
      <div class="flex items-center justify-center h-full bg-gray-200">
        <div class="w-full">
          <lite-youtube
            videoId="46G-4lTJoyk"
            videotitle="Video institucional Nordvital IPS"
            videoplay="autoplay"
            posterquality="maxresdefault"></lite-youtube>
        </div>
      </div>
      <div class="flex flex-col justify-center">
        <h2 class="text-4xl md:text-5xl font-bold mb-4">
          Sobre <span
            class="text-white bg-linear-to-l from-nordvital-secondary to-[#017bdedf] rounded-3xl"
            >Nosotros</span
          >
        </h2>
        <p class="text-base text-gray-700 line-clamp-2 mb-2">
          <span class="font-bold">Nordvital IPS S.A.S</span>
          es una IPS de carácter privado que ofrece servicios de atención primaria
          y de complejidad media a sus usuarios a través de las EPS o de manera particular
        </p>
        <p class="text-base text-gray-700 line-clamp-1 mb-2">
          Nos destacamos siempre por
          <span class="text-nordvital-primary font-bold"
            >nuestros valores.</span
          >
        </p>

        <div class="grid grid-cols-4 w-fit gap-6 mb-2">
          <div>
            <div set:html={checkedIcon} />
            <span> Lealtad </span>
          </div>
          <div>
            <div set:html={checkedIcon} />
            <span> Empatía </span>
          </div>
          <div>
            <div set:html={checkedIcon} />
            <span> Gratitud </span>
          </div>
          <div>
            <div set:html={checkedIcon} />
            <span> Respeto </span>
          </div>
        </div>

        <Button title="Ver más" url="/aboutus/aboutus" />
      </div>
    </div>

    <!-- ? carousel services -->
    <div aria-label="Nuestros servicios" class="w-11/12 mx-auto mb-10">
      <div class="text-center">
        <h3 class="text-4xl md:text-5xl font-bold mb-4">
          Nuestros <span
            class="text-white bg-linear-to-l from-nordvital-secondary to-[#017bdedf] rounded-3xl"
            >Servicios</span
          >
        </h3>
      </div>
      <CorouselServices />
    </div>

    <!-- ? date banner -->
    <div aria-label="date" class="relative w-full h-100 mb-20">
      <div
        class="w-full h-full bg-cover bg-center"
        style={`background-image: url(${dateBanner})`}
      >
        <div
          class="absolute inset-0 flex flex-col justify-center p-10 text-white"
        >
          <h4 class="text-4xl font-bold mb-2">
            ¿Ya agendaste tu cita particular?
          </h4>
          <p class="text-base line-clamp-2 text-left max-w-xl pb-3">
            Tú bienestar es nuestra prioridad. En Nordvital IPS, ofrecemos
            atención médica personalizada que se adapta a tus necesidades
            individuales.
          </p>
          <button
            class="w-30 px-2 py-1 bg-white text-nordvital-primary rounded-xl hover:bg-teal-500 hover:text-white transition-all duration-300"
          >
            <a
              href="https://api.whatsapp.com/send?phone=573174309873"
              target="_blank"
              >Agendar cita
            </a>
          </button>
        </div>
      </div>
    </div>

    <!-- ? headquarters section -->
    <div aria-label="headquarters" class="mb-20">
      <div class="text-center">
        <h5 class="text-4xl md:text-5xl font-bold mb-2">
          Nuestras <span
            class="text-white bg-linear-to-l from-nordvital-secondary to-[#017bdedf] rounded-3xl"
          >
            Sedes
          </span>
        </h5>
        <p class="text-base line-clamp-2 mb-2">
          Contamos actualmente con 11 sedes habilitadas, donde nos destacamos
          por nuestra excelente atención y cuidado hacia nuestros usuarios.
          <a
            href="/aboutus/headquarters"
            class="text-nordvital-primary font-bold hover:text-teal-500 hover:underline"
            >¡Conoce tu sede más cercana!</a
          >
        </p>
      </div>
      <div>
        <Card
          title="SEDES 01:"
          address="Calle 14A # 2E-85"
          mapLink="https://www.google.com/maps..."
          images={[img1, img2, img3]}
          latitude={7.884377881441531}
          longitude={-72.49502889815585}
        />
      </div>
    </div>

    <!-- ? blog -->
    <div aria-label="Blog" class="mb-20">
      <div class="text-center">
        <h6 class="text-4xl md:text-5xl font-bold mb-3">
          Nuestro <span
            class="text-white bg-linear-to-l from-nordvital-secondary to-[#017bdedf] rounded-3xl"
          >
            Blog
          </span>
        </h6>
        <p class="text-xl mb-3">
          ¡Bienvenido al blog de <span class="font-bold"> Nordvital IPS</span>!
          Encuentra consejos sobre salud, bienestar y eventos. Únete para vivir
          de manera más saludable y equilibrada.
        </p>
      </div>
      <div class="flex justify-center">
        <script src="https://static.elfsight.com/platform/platform.js" async
        ></script>
        <div
          class="elfsight-app-1638870b-e6e4-4d40-9105-548fdcbad3ba"
          data-elfsight-app-lazy
        >
        </div>
      </div>
    </div>
  </main>
</Layout>
