---
import HeroSection from "@/components/common/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import ContactServices from "@/components/content/ContactServices.astro";
import TapsContent from "@/components/common/TapsContent.astro";
import CardServOdonto from "@/components/common/CardServOdonto.astro";

// content
import { servicesMdEsp } from "@/content/services-md-esp";
import { servicesImgDiag } from "@/content/services-img-diag";
import Button from "@/components/common/Button.astro";
import CardManteSalud from "@/components/common/CardManteSalud.astro";

// svg icons
import img from "@/images/Services/SERVICIOS.jpg?url";
import odonIcon from "@/assets/services_icons/ico-se-6.svg?url";
import medGeneralIcon from "@/assets/services_icons/ico-se1.svg?url";
import labIcon from "@/assets/services_icons/ico-se-3.svg?url";
import imgCardLab from "@/assets/services_icons/laboratorio/servicio__enfermeras.png?url";
import imgDiagIcon from "@/assets/services_icons/ico-se-5.svg?url";
import medEspIcon from "@/assets/services_icons/icos-se-8.svg?url";
import manSaIcon from "@/assets/services_icons/ico-se-4.svg?url";
// odontologia icons
import odontoIcon1 from "@/assets/services_icons/odontologia/odo-1.svg?url";
import odontoIcon2 from "@/assets/services_icons/odontologia/odo-2.svg?url";
import odontoIcon3 from "@/assets/services_icons/odontologia/odo-3.svg?url";
import odontoIcon4 from "@/assets/services_icons/odontologia/odo-4.svg?url";
import odontoIcon5 from "@/assets/services_icons/odontologia/odo-5.svg?url";
import odontoIcon6 from "@/assets/services_icons/odontologia/odo-6.svg?url";

// img mantenimiento de la salud
import manIcon1 from "@/assets/services_icons/manteSalud/mant-1.svg?url";
import manIcon2 from "@/assets/services_icons/manteSalud/mant-2.svg?url";
import Chat from "@/components/common/Chat.astro";

const serviceTabs = [
  {
    id: "medicina-general",
    title: "Medicina General",
    icon: medGeneralIcon,
  },
  {
    id: "odontologia",
    title: "Odontología",
    icon: odonIcon,
  },
  {
    id: "laboratorio-clinico",
    title: "Laboratorio Clínico",
    icon: labIcon,
  },
  {
    id: "medicina-especializada",
    title: "Medicina Especializada",
    icon: medEspIcon,
  },
  {
    id: "imagenes-diagnosticas",
    title: "Imágenes Diagnósticas",
    icon: imgDiagIcon,
  },
  {
    id: "mantenimiento-salud",
    title: "Mantenimiento de la Salud",
    icon: manSaIcon,
  },
];
---

<Layout title="Servicios">
  <div>
    <div>
      <HeroSection title="Servicios" backgroundImage={img} />
    </div>

    <div>
      <TapsContent tabs={serviceTabs}>
        <!-- ? medicina general -->
        <div data-tab-content="medicina-general">
          <div class="servicio__item-container">
            <div
              class="servicio__item-dscpn grid grid-cols-1 lg:grid-cols-[70%_30%] lg:gap-5"
            >
              <div class="mb-3 mt-3 lg:mt-0 lg:mb-0">
                <div class="flex items-center w-fit">
                  <img
                    src={medGeneralIcon}
                    alt="medicina general icon"
                    class="w-[20px] h-[20px] mx-2"
                  />
                  <p class="text-xl text-teal-500">Servicio</p>
                </div>

                <h4 class="font-bold text-2xl mb-3">Medicina General</h4>
                <p class="mb-3">
                  La medicina general representa el primer nivel de atención
                  médica.
                </p>
                <p>
                  Los médicos y médicas generales son profesionales con
                  preparación académica para la prevención, detección,
                  tratamiento y seguimiento de enfermedades agudas y crónicas.
                  Tienen la capacidad de resolver problemas de salud de forma
                  transversal y de decidir la derivación a especialistas cuando
                  una patología se descompensa o lo requiere.
                </p>
              </div>

              <div>
                <ContactServices />
              </div>
            </div>
          </div>
        </div>

        <!-- ? Odontologia -->
        <div data-tab-content="odontologia">
          <div class="servicio__item-container">
            <div class="grid grid-cols-1 lg:grid-cols-[70%_30%] lg:gap-5">
              <div class="mb-3 mt-3 lg:mt-0 lg:mb-0">
                <div class="flex items-center">
                  <img
                    src={medGeneralIcon}
                    alt="medicina general icon"
                    class="w-[20px] h-[20px] mx-2"
                  />
                  <p class="text-xl text-teal-500">Servicio</p>
                </div>
                <h4 class="text-2xl font-bold mb-3">Odontología</h4>

                <p class="mb-3">
                  La atención de consulta externa en odontología general,
                  incluye consultas iniciales y de control, esta enfocada en la
                  atención preventiva y curativa, realizando el tratamiento
                  clínicos bucales a pacientes con el fin de preservar su salud
                  bucal y brindando bienestar.
                </p>

                <p>
                  La atención por odontología general, comienza con la fase de
                  higiene oral, en el cual se realiza el tratamiento preventivo
                  incluyendo educación en salud oral y según los hallazgos se
                  realiza tratamiento integral con la participación de
                  especialistas si el caso lo requiere.
                </p>
              </div>
              <div class="mb-3 lg:mb-0">
                <ContactServices />
              </div>
            </div>

            <div>
              <h3 class="text-3xl font-bold text-center mb-8">
                Te Ofrecemos:
              </h3>
              <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
                <div>
                  <CardServOdonto
                    title="Cirugía maxilofacial"
                    icon={odontoIcon1}
                    content="Es una especialidad quirúrgica que se enfoca en el diagnóstico y tratamiento de infecciones relacionadas con la boca, mandíbula y estructuras faciales."
                  />
                </div>
                <div>
                  <CardServOdonto
                    title="Cirugía oral"
                    icon={odontoIcon2}
                    content="Hace referencia a cualquier procedimiento quirúrgico en la boca y la mandíbula o en las áreas circundantes."
                  />
                </div>
                <div>
                  <CardServOdonto
                    title="Rehabilitación oral"
                    icon={odontoIcon3}
                    content="Se encarga de restaurar la función y la estética de la boca mediante tratamientos como prótesis dentales, implantes y otros procedimientos."
                  />
                </div>
                <div>
                  <CardServOdonto
                    title="Periodoncia"
                    icon={odontoIcon4}
                    content="Es el diagnóstico, tratamiento y prevención de enfermedades que afectan las encías y las estructuras de soporte de los dientes."
                  />
                </div>
                <div>
                  <CardServOdonto
                    title="Odontología General"
                    icon={odontoIcon5}
                    content="Abarca el diagnóstico, tratamiento y prevención de enfermedades bucales comunes."
                  />
                </div>
                <div>
                  <CardServOdonto
                    title="Endodoncia"
                    icon={odontoIcon6}
                    content="Es la especialidad de la odontología que se centra en el tratamiento de los conductos radiculares."
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- ? Laboratorio Clínico -->
        <div data-tab-content="laboratorio-clinico">
          <div class="servicio__item-container">
            <div class="grid grid-cols-1 lg:grid-cols-[70%_30%] gap-5">
              <div class="mb-3 mt-3 lg:mt-0 lg:mb-0">
                <div class="flex items-center">
                  <img
                    src={medGeneralIcon}
                    alt="laboratorio clinico icon"
                    class="w-[20px] h-[20px] mx-2"
                  />
                  <p class="text-xl text-teal-500">Servicio</p>
                </div>
                <h4 class="font-bold text-2xl mb-3">Laboratorio Clinico</h4>
                <p class="mb-3">
                  En NordVital IPS, entendemos que la precisión y la rapidez en
                  los resultados de los análisis clínicos son esenciales para un
                  diagnóstico médico efectivo y un tratamiento adecuado. Nuestro
                  Laboratorio Clínico se destaca por su compromiso con la
                  excelencia y la innovación, garantizando que cada prueba se
                  realice con los más altos estándares de calidad y utilizando
                  tecnología de punta.
                </p>
                <p class="mb-3">
                  Contamos con un equipo de profesionales altamente capacitados
                  y dedicados, cuyo objetivo principal es brindar un servicio
                  confiable y seguro. Nuestra infraestructura está diseñada para
                  optimizar cada etapa del proceso, desde la recolección de
                  muestras hasta la entrega de resultados, asegurando así la
                  comodidad y tranquilidad de nuestros pacientes.
                </p>
              </div>
              <div class="mb-3 lg:mb-0">
                <ContactServices />
              </div>
            </div>

            <div class="mt-3 mb-3 lg:mb-0 lg:mt-0">
              <h4 class="text-3xl font-bold text-center mb-8">Te ofrecemos</h4>

              <div class="grid grid-cols-1 lg:grid-cols-5 gap-5">
                <div class="hover:scale-105 transition-all">
                  <CardServOdonto
                    title="Inmunoquímica"
                    content="Detectamos y medimos sustancias en la sangre para ayudar en el diagnóstico y monitoreo de diversas enfermedades."
                    showIcon={false}
                  />
                </div>
                <div class="hover:scale-105 transition-all">
                  <CardServOdonto
                    title="Inmunoserología"
                    content="Evaluamos la respuesta inmunológica del cuerpo frente a infecciones y enfermedades a través del análisis de sueros."
                    showIcon={false}
                  />
                </div>
                <div class="hover:scale-105 transition-all">
                  <CardServOdonto
                    title="Hematología"
                    content="Analizamos la sangre y sus componentes para diagnosticar condiciones como anemia, infecciones y trastornos hematológicos."
                    showIcon={false}
                  />
                </div>
                <div class="hover:scale-105 transition-all">
                  <CardServOdonto
                    title="Coagulación"
                    content="Examinamos los procesos de coagulación sanguínea para identificar trastornos que afectan la hemostasia."
                    showIcon={false}
                  />
                </div>
                <div class="hover:scale-105 transition-all">
                  <CardServOdonto
                    title="Microbiología"
                    content="Utilizamos técnicas microscópicas avanzadas para observar células y tejidos, proporcionando diagnósticos precisos y detallados."
                    showIcon={false}
                  />
                </div>
              </div>
            </div>

            <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
              <div class="flex flex-col justify-center items-start">
                <h4 class="text-2xl font-bold mb-3">
                  ¡Obtén tus Resultados de Laboratorio con <span
                    class="text-teal-500">Nordvital IPS</span
                  >!
                </h4>
                <p class="mb-3">
                  Tu salud es nuestra prioridad. Ahora puedes acceder a tus
                  resultados de laboratorio de manera rápida y segura desde la
                  comodidad de tu hogar.
                </p>
                <p class="mb-3">
                  Simplemente ingresa a nuestro portal en línea y obtén toda la
                  información que necesitas al instante.
                </p>
                <Button title="Ver más" url="/users/laboratorios" />
              </div>
              <div class="lg:flex hidden justify-center items-center">
                <img
                  src={imgCardLab}
                  alt="img card laboratorio"
                  class="w-[438px] h-[424px]"
                />
              </div>
            </div>
          </div>
        </div>

        <!-- ? Medicina Especializada -->
        <div data-tab-content="medicina-especializada">
          <div class="servicio__item-containe r">
            <div class="grid grid-cols-1 lg:grid-cols-[70%_30%] gap-5">
              <div class="mb-3 mt-3 lg:mt-0 lg:mb-0">
                <div class="flex items-center">
                  <img
                    src={medGeneralIcon}
                    alt="medicina general icon"
                    class="w-[20px] h-[20px] mx-2"
                  />
                  <p class="text-xl text-teal-500">Servicio</p>
                </div>
                <h4 class="font-bold text-2xl mb-3">Medicina Especializada</h4>
                <p class="mb-3">
                  Nordvital IPS tiene un modelo de atención basado en la
                  medicina familiar fundamentado en el abordaje integral del
                  paciente desde los aspectos biológicos, psicológicos y
                  sociales para modificar los factores de riesgo y creando una
                  cultura de compromiso para la promoción de la salud y
                  prevención de la enfermedad. Este enfoque hace eficiente el
                  proceso de atención y asegura la pertinencia de las remisiones
                  a otros niveles de atención.
                </p>
                <p class="mb-3">
                  En este espacio encontrarás nuestras especialidades y
                  subespecialidades médicas enfocadas en la alta complejidad.
                  Nuestro enfoque integral involucra a un equipo
                  multidisciplinario de profesionales en áreas de la salud,
                  apoyados por la más avanzada tecnología.
                </p>
              </div>

              <div class="mb-3 lg:mb-0">
                <ContactServices />
              </div>
            </div>

            <div class="mt-3 mb-3 lg:mb-0 lg:mt-0">
              <h4 class="text-3xl font-bold text-center mb-8">Te ofrecemos</h4>

              <div class="grid grid-cols-1 lg:grid-cols-3 gap-7">
                {
                  servicesMdEsp.map((s) => (
                    <div>
                      <CardServOdonto
                        title={s.title}
                        content={s.content}
                        icon={s.icon}
                        showIcon={true}
                      />
                    </div>
                  ))
                }
              </div>
            </div>
          </div>
        </div>

        <!-- ? Imagenes Diagnósticas -->
        <div data-tab-content="imagenes-diagnosticas">
          <div class="servicio__item-container">
            <div class="grid grid-cols-1 lg:grid-cols-[70%_30%] gap-5">
              <div class="mb-3 mt-3 lg:mt-0 lg:mb-0">
                <div class="flex items-center">
                  <img
                    src={medGeneralIcon}
                    alt="medicina general icon"
                    class="w-[20px] h-[20px] mx-2"
                  />
                  <p class="text-xl text-teal-500">Servicio</p>
                </div>

                <h3 class="text-2xl font-bold mb-3">Imágenes Diagnósticas</h3>
                <p class="mb-3">
                  La complementación terapéutica es un apoyo esencial tanto para
                  la atención médica como odontológica, ya que proporciona
                  herramientas y recursos adicionales que facilitan un
                  diagnóstico preciso y una intervención efectiva.
                </p>
                <p class="mb-3">
                  Este proceso incluye una variedad de ayudas paraclínicas,
                  tales como exámenes de laboratorio, estudios de imagen,
                  pruebas de función y otros métodos de evaluación que son
                  cruciales para confirmar los diagnósticos iniciales realizados
                  por los profesionales de la salud.
                </p>
              </div>
              <div>
                <ContactServices />
              </div>
            </div>

            <div>
              <h4 class="text-3xl font-bold text-center mt-7 mb-8">Te ofrecemos:</h4>
              <div class="grid grid-cols-1 lg:grid-cols-3 gap-5">
                {
                  servicesImgDiag.map((s) => (
                    <div>
                      <CardServOdonto
                        title={s.title}
                        content={s.content}
                        icon={s.icon}
                        showIcon={true}
                      />
                    </div>
                  ))
                }
              </div>
            </div>
          </div>
        </div>

        <!-- ? Mantenimiento de la Salud -->
        <div data-tab-content="mantenimiento-salud">
          <div class="servicio__item-container">
            <div>
              <div>
                <div class="grid grid-cols-1 lg:grid-cols-[70%_30%] gap-5">
                  <div class="mb-3 mt-3 lg:mt-0 lg:mb-0">
                    <div class="flex items-center">
                      <img
                        src={medGeneralIcon}
                        alt="medicina general icon"
                        class="w-[20px] h-[20px] mx-2"
                      />
                      <p class="text-xl text-teal-500">Servicio</p>
                    </div>

                    <h4 class="font-bold text-2xl mb-3">
                      Mantenimiento de la Salud
                    </h4>
                    <p class="mb-3">
                      El nuevo Modelo de Atención en Salud hace énfasis en las
                      actividades de promoción de la salud y prevención de la
                      enfermedad.
                    </p>
                    <p class="mb-3">
                      Por esta razón, Nordvital IPS cuenta con estrategias de
                      educación, cultura, adopción de estilos de vida saludables
                      y concienciación dirigidas a la población, incluyendo a
                      usuarios, familias y la sociedad en general.
                    </p>
                    <p class="mb-3">
                      Dentro de los programas de Promoción y Prevención (P&P) se
                      incluyen actividades de acompañamiento, orientación y
                      capacitaciones prácticas sobre alimentación sana,
                      ejercicio adecuado, asistencia, manejo de medicamentos y
                      controles médicos.
                    </p>
                  </div>
                  <div class="mb-3 lg:mb-0">
                    <ContactServices />
                  </div>
                </div>

                <div>
                  <h4 class="text-3xl font-bold text-center mb-8">
                    Te ofrecemos:
                  </h4>
                  <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 h-full">
                    <div>
                      <CardManteSalud
                        uniqueId="1"
                        title="Ruta Integral de Atención en Salud para la Población Materno Perinatal"
                        description="Conjunto de procedimientos y servicios coordinados y diseñados para garantizar el cuidado integral de las mujeres embarazadas y sus recién nacidos"
                        image={manIcon1}
                      >
                        <li>Atención para el cuidado preconcepcional.</li>
                        <li>Interrupción voluntaria del embarazo.</li>
                        <li>Atención para el cuidado prenatal.</li>
                        <li>
                          Atención en salud para la valoracion, promocion y
                          apoyo de la lactancia materna.
                        </li>
                        <li>
                          Curso de preparación para la maternidad y la
                          paternidad.
                        </li>
                        <li>Atención en salud bucal.</li>
                        <li>
                          Atención para la promoción de la alimentación y
                          nutrición.
                        </li>
                        <li>Atención del puerperio.</li>
                        <li>Atención para el cuidado recién nacido.</li>
                        <li>Atención para el seguimiento al recién nacido.</li>
                        <li>Educación para la salud.</li>
                        <li>Servicio de Vacunación.</li>
                      </CardManteSalud>
                    </div>
                    <div>
                      <CardManteSalud
                        uniqueId="2"
                        title="Mantenimiento de la salud"
                        description="Se refiere a las actividades y medidas destinadas prevenir enfermedades, detectar problemas de salud en etapas tempranas y promover una vida saludable."
                        image={manIcon2}
                      >
                        <li>
                          Atención en salud por pediatria, medicina general o
                          familiar, y enfermería para la primera infancia.
                        </li>
                        <li>
                          Atención en salud por medicina general, pediatria o
                          medicina familiar, y enfermería para la infancia.
                        </li>
                        <li>Servicio de Vacunación.</li>
                        <li>
                          Atención en salud por medicina general o familiar y
                          enfermería para la adolescencia.
                        </li>
                        <li>
                          Atención en salud por medicina general o familiar para
                          la juventud.
                        </li>
                        <li>
                          Atención en salud por medicina general o familiar para
                          la vejez.
                        </li>
                        <li>Detección temprana de cáncer de cuello uterino.</li>
                        <li>Detección temprana de cáncer de mama.</li>
                        <li>Detección temprana de cancer de prostata.</li>
                        <li>Detección temprana de cáncer de colon y recto.</li>
                        <li>
                          Atención para la planificación familiar y la
                          anticoncepción.
                        </li>
                        <li>Fortificación con micronutrientes en polvo.</li>
                        <li>Educación y comunicación para la salud.</li>
                      </CardManteSalud>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </TapsContent>
    </div>
  </div>
</Layout>
