---
interface CardProps {
  title: string;
  address: string;
  mapLink: string;
  images: ImageMetadata[];
}
import Button from "./common/Button.astro";
import { Image } from "astro:assets";

const props = Astro.props as CardProps;
const { title = "", address = "", mapLink = "", images = [] } = props;
---

<div class="w-full md:w-3/4 mx-auto p-3">
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-4 justify-center w-full mx-auto"
  >
    <div class="w-full h-[200px] md:h-full">
      <Image
        src={images[0]}
        class="rounded-xl w-full h-full object-cover"
        alt={`Imagen principal de ${title}`}
        widths={[700, 1026, 1449, 1600, 1840, 2048]}
        sizes={`(max-width: 700px) 100vw, (max-width: 1026px) 100vw, (max-width: 1449px) 100vw, (max-width: 1600px) 100vw, (max-width: 1840px) 100vw, 2048px`}
      />
    </div>

    <div class="flex flex-col gap-4">
      <!-- Info card -->
      <div
        class="bg-white p-4 rounded-xl flex flex-col gap-2.5 h-auto md:h-[138px]"
      >
        <div>
          <h4 class="text-teal-700 font-bold text-xl md:text-2xl">{title}</h4>
          <p class="text-gray-700 font-normal text-sm md:text-base truncate" title={address}>
            {address}
          </p>
        </div>
        <div class="">
          <Button title="Ver en mapa" url={mapLink} />
        </div>
      </div>

      <div class="grid grid-cols-2 gap-2.5 h-24 md:h-32">
        {
          images.slice(1).map((image) => (
            <div class="w-full h-full">
              <Image
                src={image}
                class="rounded-xl w-full h-full object-cover"
                alt={`img ${title}`}
                widths={[700, 1026, 1449, 1600, 1840, 2048]}
                sizes={`(max-width: 700px) 100vw, (max-width: 1026px) 100vw, (max-width: 1449px) 100vw, (max-width: 1600px) 100vw, (max-width: 1840px) 100vw, 2048px`}
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
