---
const phoneNumber = "+573174309873";
const whatsappMessage = "Hola sean bienvenidos a Nordvital ips, una ips comprometida con sus usuarios.";

import NavLinks from "./NavLinks.astro";
import SocialLinks from "./SocialLinks.astro";
// imgs
import iconPhone from "/src/assets/Phone.svg?url";
import iconNordvital from "/src/assets/logo-Nordvital.png?url";

---

<header class="bg-teal-500 font-sans text-white font-semibold">
  <div class="flex justify-between items-center p-3 gap-8">
    <!-- enlace de whatsapp -->
    <div class="w-40 flex m-2">
      <a href={`https://api.whatsapp.com/send?phone=${phoneNumber}&text=${whatsappMessage}`} target="_blank" class="text-white flex">
        <img src={iconPhone} alt="Phone" class="w-6 h-6" /> {phoneNumber}
      </a>
    </div>

    <div class="flex items-center">
      <p>Bienvenidos a Nordvital IPS</p>
    </div>

    <!-- links de redes -->
    <SocialLinks />
  </div>

  <!-- el navbar -->
  <div class="bg-gray-100 font-sans text-gray-900 pl-7 pr-7">
    <div class="flex justify-between items-center p-3">
      <a href="/" class="flex items-center justify-between w-32 p-2">
        <img src={iconNordvital} alt="Logo" class="w-40" />
      </a>

      <!-- links dentro del navbar -->
      <NavLinks/>
    </div>
  </div>
</header>