---
import instagram from '@/assets/icons_header/social-media/instagram.svg?url';
import facebook from '@/assets/icons_header/social-media/Facebook.svg?url';
import tiktok from '@/assets/icons_header/social-media/TikTok.svg?url';
import youtube from '@/assets/icons_header/social-media/Youtube.svg?url';

const socialLinks = [
  { href: "https://www.instagram.com/nordvital_ips/", src: `${instagram}`, alt: "Instagram" },
  { href: "https://www.tiktok.com/@nordvital1", src: `${tiktok}`, alt: "TikTok" },
  { href: "https://www.youtube.com/@NordvitalIPS", src: `${youtube}`, alt: "YouTube" },
  { href: "https://www.facebook.com/Nordvitaloficial/?locale=es_LA", src: `${facebook}`, alt: "Facebook" }
];
---

<div class="flex justify-around w-48">
  {socialLinks.map(link => (
    <a href={link.href} target="_blank" aria-label={link.alt}>
      <img src={link.src} alt={link.alt} class="w-6 h-6" />
    </a>
  ))}
</div>