---
import instagram from '@/assets/logo_footer/brand-instagram.svg?raw';
import facebook from '@/assets/logo_footer/brand-facebook.svg?raw';
import tiktok from '@/assets/logo_footer/brand-tiktok.svg?raw';
import youtube from '@/assets/logo_footer/brand-youtube.svg?raw';
import { Image } from 'astro:assets';
const socialLinks = [
  {
    href: "https://www.instagram.com/nordvital_ips/",
    src: `${instagram}`,
    alt: "Instagram",
    text: "@IPS Nordvital",
  },
  {
    href: "https://www.facebook.com/Nordvitaloficial/?locale=es_LA",
    src: `${facebook}`,
    alt: "Facebook",
    text: "@Nordvital1",
  },
  {
    href: "https://www.tiktok.com/@nordvital1",
    src: `${tiktok}`,
    alt: "TikTok",
    text: "@nordvital1",
  },
  {
    href: "https://www.youtube.com/@NordvitalIPS",
    src: `${youtube}`,
    alt: "YouTube",
    text: "@NordvitalIPS",
  },
];
---

<div class="text-white place-items-center">
  <h3 class="text-2xl font-bold py-3 lg:py-0 lg:mb-5 lg:mt-12">Redes sociales:</h3>
  <div>
    {socialLinks.map(link => (
      <a href={link.href} target="_blank" class="flex items-center mb-3 group hover:scale-105 transition-all ease-in-out duration-300">
      <div set:html={link.src} class="text-white w-6 h-6 group-hover:text-black transition-colors duration-300"></div>
      <span class="text-sm ml-2 group-hover:text-black transition-colors duration-300">{link.text}</span>
      </a>
    ))}
  </div>
</div>