---
import instagram from '@/assets/icons_header/social-media/instagram.svg?raw';
import facebook from '@/assets/icons_header/social-media/Facebook.svg?raw';
import tiktok from '@/assets/icons_header/social-media/TikTok.svg?raw';
import youtube from '@/assets/icons_header/social-media/Youtube.svg?raw';

const socialLinks = [
  { href: "https://www.instagram.com/nordvital_ips/", src: `${instagram}`, alt: "Instagram" },
  { href: "https://www.tiktok.com/@nordvital1", src: `${tiktok}`, alt: "TikTok" },
  { href: "https://www.youtube.com/@NordvitalIPS", src: `${youtube}`, alt: "YouTube" },
  { href: "https://www.facebook.com/Nordvitaloficial/?locale=es_LA", src: `${facebook}`, alt: "Facebook" }
];
---

<div class="flex justify-around w-48">
  {socialLinks.map(link => (
    <a href={link.href} target="_blank" aria-label={link.alt} rel="noopener noreferrer" class="p-1 rounded-lg text-white hover:bg-gray-700 transition-colors duration-300">
      <div set:html={link.src}></div>
    </a>
  ))}
</div>