---
import { Image } from "astro:assets";
import Button from "./Button.astro";

interface Props {
  title: string;
  description: string;
  image: ImageMetadata;
  uniqueId: string;
}

const { title, description, image, uniqueId } = Astro.props;
---

<div class="border border-b rounded-xl shadow-xl p-3 gap-4">
  <div class="grid grid-cols-1 lg:grid-cols-[38%_60%]">
    <div class="flex justify-center items-center">
      <Image
        src={image}
        alt={`Imagen de ${title}`}
        class="w-32 md:w-48 h-32 md:h-48 object-contain"
        widths={[128, 256, 512]}
        sizes="(min-width: 1024px) 192px, 128px"
        loading="lazy"
      />
    </div>
    <div class="space-y-4">
      <h4 class="text-2xl font-bold text-start">
        {title}
      </h4>
      <p class="text-base text-gray-700 mb-3 text-justify hyphens-auto text-wrap-pretty leading-relaxed">
        {description}
        <div class="flex justify-center items-center">
          <button
            data-target=`content-${uniqueId}`
            class="show-more bg-teal-500 max-w-28 text-white rounded-xl px-2.5 py-1.5 text-center text-sm md:text-base hover:bg-teal-600 transition-colors"
          >
             <span class="text-show">Ver más</span>
             <span class="text-hide hidden">Ver Menos</span>
          </button>
        </div>
      </p>
    </div>
  </div>
  <div
    class="content-expandible grid-rows-[0fr] transition-all duration-300 ease-in-out"
    id=`content-${uniqueId}`
  >
  <div class="overflow-hidden">
    <slot />
  </div>
  </div>
</div>
<script>
  const buttons = document.querySelectorAll(".show-more");

  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      const targetId = button.getAttribute("data-target");
      if (targetId) {
        const content = document.getElementById(targetId);
        const textShow = button.querySelector(".text-show");
        const textHide = button.querySelector(".text-hide");

        content?.classList.toggle('grid-rows-[1fr]')
        content?.classList.toggle('opacity-100')

        textShow?.classList.toggle('hidden')
        textHide?.classList.toggle('hidden')
      }
    });
  });
</script>
<style>
  .content-expandible {
    display: grid;
    transition: grid-template-rows 300ms ease-in-out, opacity 300ms ease-in-out;
  }
</style>
