---
// Importa las imágenes que vas a usar

import { Image } from "astro:assets";
import imgLaboratorio from "@/assets/Imgs_carousel/carousel_infinito/LABORATORIO.webp?url";
import imgMediGeneral from "@/assets/Imgs_carousel/carousel_infinito/medicinaGeneral.webp?url";
import imgApoyoTera from "@/assets/Imgs_carousel/carousel_infinito/terapiasFisicas1.webp?url";
import imgOdonto from "@/assets/Imgs_carousel/carousel_infinito/odontologia2.webp?url";
import imgMtnmSalud from "@/assets/Imgs_carousel/carousel_infinito/prevencionSalud1.webp?url";
import imgMdEpecializada from "@/assets/Imgs_carousel/carousel_infinito/medicinaEspecializada.webp?url";

const images = [
  {
    src: `${imgMediGeneral}`,
    title: "Medicina General",
    description:
      "Explora nuestra atención completa en medicina general. Nuestro equipo médico altamente capacitado está comprometido a brindarte cuidado personalizado.",
    link: "/services",
  },
  {
    src: `${imgOdonto}`,
    title: "Odontología",
    description:
      "Encuentra soluciones a tus necesidades médicas únicas con nuestro servicio de Medicina Especializada. Dianosticos precisos y tratamientos avanzados.",
    link: "/services",
  },
  {
    src: `${imgApoyoTera}`,
    title: "Apoyo terapéutico",
    description:
      "Recibe el apoyo necesario para tu recuperación con nuestro servicio de Apoyo Terapéutico. Terapias físicas, ocupacionales y emocionales disponibles.",
    link: "/services",
  },
  {
    src: `${imgMtnmSalud}`,
    title: "Mantenimiento de la salud",
    description:
      "Prioriza tu bienestar con nuestro servicio de Mantenimiento de Salud. Ofrecemos chequeos médicos completos y asesoramiento en hábitos saludables.",
    link: "/services",
  },
  {
    src: `${imgMdEpecializada}`,
    title: "Medicina especializada",
    description:
      "Encuentra soluciones a tus necesidades médicas únicas con nuestro servicio de Medicina Especializada. Dianosticos precisos y tratamientos avanzados.",
    link: "/services",
  },
  {
    src: `${imgLaboratorio}`,
    title: "Laboratorio",
    description:
      "Resultados precisos y confiables con nuestro servicio de Laboratorio. Amplia gama de pruebas médicas para diagnostico y seguimiento.",
    link: "/services",
  },
];
---

<div class="owl-carousel owl-theme">
  {
    images.map(({ src, title, description, link }) => (
      <div class="relative overflow-hidden">
        <Image
          src={src}
          alt={title}
          width={500}
          height={300}
          widths={[700, 1026, 1449, 1600, 1840, 2048]}
          sizes="(min-width: 1420px) 37.53vw, (min-width: 780px) calc(3.55vw + 455px), (min-width: 400px) calc(100vw - 24px), calc(16.25vw + 294px)"
         
        />
        <div class="absolute top-0 left-0 w-full rounded-2xl h-full bg-gradient-to-l from-[#6fbda7] to-[#017bdedf]  opacity-0 hover:opacity-90 transition-opacity duration-300">
          <div class="absolute bottom-0 left-0 w-full justify-start p-5">
            <div class="mb-2">
              <h3 class="text-white font-bold text-2xl ">{title}</h3>
            </div>
            <div class="mb-2">
              <p class="text-white font-semibold">{description}</p>
            </div>
            <div class="grid grid-cols-2 w-full lg:w-1/2 gap-5">
              <button class=" text-[#049ae7] bg-white px-2 py-1 rounded-md hover:bg-gray-300 trasnition-all duration-300">
                <a href={link}>Ver Más</a>
              </button>
              <button class="px-2 py-1 bg-teal-500 rounded-md hover:bg-teal-600 trasnition-all duration-300">
                <a
                  href="https://api.whatsapp.com/send?phone=573174309873&text=Hola sean bienvenidos a Nordvital ips, una ips comprometida con sus usuarios."
                  target="_blank"
                  class="text-white"
                >
                  Agendar cita
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>

<script>
  // Inicializar Owl Carousel cuando el documento esté listo
  $(document).ready(function () {
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [
        "<i class='fas fa-chevron-left'></i>",
        "<i class='fas fa-chevron-right'></i>",
      ],
      responsive: {
        0: {
          items: 1,
        },
        600: {
          items: 2,
        },
        1400: {
          items: 3,
        },
      },
    });
  });
</script>
