---
import HeroSection from "@/components/common/HeroSection.astro";
import Layout from "../../layouts/Layout.astro";

//Images
import img from "@/images/AboutUs/NOSOTROS.webp?url";
import compensar from "@/images/Convenios/LOGO-COMPENSAR.png";
import NuevaEps from "@/images/Convenios/LOGO-NUEVA-EPS.png";
import coosalud from "@/images/Convenios/COOSALUD.png";
import Chat from "@/components/common/Chat.astro";
---

<Layout title="Convenios | Nordvital IPS - Alianzas con EPS" 
description="Conoce los convenios de Nordvital IPS con las principales EPS de Colombia: Compensar, Nueva EPS y Coosalud. Líneas de atención y servicios disponibles para afiliados.">
<main class="bg-gray-100 min-h-screen">
<!-- Hero Section -->
    <HeroSection title="Convenios" backgroundImage={img} />

    <!-- Descripción -->
    <section class="container mx-auto px-4 my-4 md:my-16">
      <div class="max-w-7xl mx-auto">
        <h2 class="text-teal-500 font-bold text-3xl md:text-4xl mb-4 md:mb-6">
          En NordVital IPS
        </h2>
        <div class="space-y-4 text-base md:text-lg">
          <p class="text-gray-700 leading-relaxed">
            Nos enorgullece ofrecer una amplia gama de servicios médicos de alta
            calidad a nuestros pacientes. Para garantizar un acceso integral a
            la atención médica, hemos establecido convenios con varias Entidades
            promotoras de salud (EPS) líderes en el país.
          </p>
          <p class="text-gray-700 leading-relaxed">
            Nuestros convenios con EPS nos permiten brindar atención médica
            especializada a los afiliados de estas entidades, garantizando un
            proceso de atención eficiente y sin contratiempos. Trabajamos en
            estrecha colaboración con nuestras EPS asociadas para ofrecer
            servicios médicos de primera calidad.
          </p>
        </div>
      </div>
    </section>

    <!-- Acordeón de Convenios -->

    <div class="grid md:grid-cols-3 gap-4 md:gap-6 max-w-4xl mx-auto w-[90%]">
      <!-- Compensar -->
      <div>
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <button
            class="accordion-button w-full p-4 md:p-6 text-left focus:outline-none focus:ring-2 focus:ring-teal-500 transition-all duration-300 ease-in-out"
            id="accordion-button-1"
            aria-expanded="false"
            aria-controls="accordion-content-1"
          >
            <div class="flex items-center justify-between w-full">
              <img
                src={compensar.src}
                alt="Logo Compensar"
                class="w-32 md:w-40 h-auto"
              />
              <svg
                class="w-6 h-6 text-teal-500 transform transition-transform duration-300"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
          </button>
          <div
            id="accordion-content-1"
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 ease-in-out"
            role="region"
            aria-labelledby="accordion-button-1"
          >
            <div class="p-4 md:p-6 border-t border-gray-200">
              <h5 class="text-base md:text-lg font-semibold text-teal-700 mb-2">
                Línea de atención: Cundinamarca
              </h5>
              <p class="text-gray-600">601-4441234</p>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <button
            class="accordion-button w-full p-4 md:p-6 text-left focus:outline-none focus:ring-2 focus:ring-teal-500 transition-all duration-300 ease-in-out"
            id="accordion-button-3"
            aria-expanded="false"
            aria-controls="accordion-content-3"
          >
            <div class="flex items-center justify-between w-full h-[52px]">
              <img
                src={coosalud.src}
                alt="Logo Compensar"
                class="w-32 md:w-44 h-auto"
              />
              <svg
                class="w-6 h-6 text-teal-500 transform transition-transform duration-300"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
          </button>
          <div
            id="accordion-content-3"
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 ease-in-out"
            role="region"
            aria-labelledby="accordion-button-3"
          >
            <div class="p-4 md:p-6 border-t border-gray-200">
              <h5 class="text-base md:text-lg font-semibold text-teal-700 mb-1">
                Línea de atención:
              </h5>
              <p class="text-gray-600">3009147213</p>
              <br />
              <h5 class="text-base md:text-lg font-semibold text-teal-700 mb-1">
                Línea de atención WhatsApp:
              </h5>
              <p class="text-gray-600">3008494148</p>
            </div>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <div class="bg-white rounded-lg shadow-md overflow-hidden">
          <button
            class="accordion-button w-full p-4 md:p-6 text-left focus:outline-none focus:ring-2 focus:ring-teal-500 transition-all duration-300 ease-in-out"
            id="accordion-button-2"
            aria-expanded="false"
            aria-controls="accordion-content-2"
          >
            <div class="flex items-center justify-between w-full">
              <img
                src={NuevaEps.src}
                alt="Logo Nueva EPS"
                class="w-32 md:w-40 h-auto"
              />
              <svg
                class="w-6 h-6 text-teal-500 transform transition-transform duration-300"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 9l-7 7-7-7"></path>
              </svg>
            </div>
          </button>
          <div
            id="accordion-content-2"
            class="accordion-content max-h-0 overflow-hidden transition-all duration-300 ease-in-out"
            role="region"
            aria-labelledby="accordion-button-2"
          >
            <div class="p-4 md:p-6 border-t border-gray-200">
              <h5 class="text-base md:text-lg font-semibold text-teal-700 mb-2">
                Línea de atención fija:
              </h5>
              <p class="text-gray-600 mb-4">300-9135168</p>
              <h5 class="text-base md:text-lg font-semibold text-teal-700 mb-2">
                Línea de atención WhatsApp:
              </h5>
              <p class="text-gray-600">317-5141175</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Nueva EPS -->
    </div>
  </main>
</Layout>

<style>
  .shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  /* Estilos para la animación del acordeón */
  .accordion-content {
    max-height: 0;
    opacity: 0;
  }

  .accordion-content.active {
    max-height: 400px; /* Altura máxima para la animación */
    opacity: 1;
  }

  /* Transición suave para el ícono */
  .accordion-button svg {
    transition: transform 0.3s ease;
  }

  .accordion-button[aria-expanded="true"] svg {
    transform: rotate(180deg);
  }
</style>

<script>
  function setupAccordion() {
    const accordionButtons = document.querySelectorAll(".accordion-button");

    accordionButtons.forEach((button) => {
      button.addEventListener("click", () => {
        const contentId = button.getAttribute("aria-controls");
        if (!contentId) return;
        const content = document.getElementById(contentId);
        const isExpanded = button.getAttribute("aria-expanded") === "true";

        // Toggle aria-expanded
        button.setAttribute("aria-expanded", (!isExpanded).toString());

        // Toggle la clase active en el contenido
        if (content) {
          content.classList.toggle("active");

          // Establecer la altura máxima para la animación
          if (!isExpanded) {
            const contentHeight = content.scrollHeight;
            content.style.maxHeight = `${contentHeight}px`;
            content.style.opacity = "1";
          } else {
            content.style.maxHeight = "0";
            content.style.opacity = "0";
          }
        }
      });
    });
  }

  // Ejecutar la configuración cuando el DOM esté cargado
  document.addEventListener("DOMContentLoaded", setupAccordion);
</script>
