---
import HeroSection from "@/components/common/HeroSection.astro";
import Layout from "../../layouts/Layout.astro";
import img from "@/images/AboutUs/NOSOTROS.webp?url";

//Pdfs 2023
import pdf from "@/pdf/2023/ESTADO-DE-SITUACION-FINANCIERA-A-31-DE-DIC-2023.pdf";
import pdf2 from "@/pdf/2023/CERTIFICADO-DE-LOS-ESTADOS-FINANCIEROS-2023.pdf";
import pdf3 from "@/pdf/2023/ESTADO-DE-GANANCIAS-Y-PERDIDAS-A-31-DE-DIC-2023.pdf";
import pdf4 from "@/pdf/2023/1-Dictamen-Revisor-Fiscal-Nordvital-AG-2023-1.pdf";

//Pdfs 2022
import pdf5 from "@/pdf/2022/ESTADO-DE-SITUACION-FINANCIERA-A-DICIEMBRE-DEL-2022-NORDVITAL.pdf";
import pdf6 from "@/pdf/2022/NOTAS-A-LOS-ESTADOS-FINANCIEROS-2022-NORDVITAL-IPS-SAS.pdf";
import pdf7 from "@/pdf/2022/ESTADOS-FLUJO-DE-EFECTIVO-A-DICIEMBRE-DEL-2022-NORDVITAL.pdf";
import pdf8 from "@/pdf/2022/ESTADO-DE-RESULTADO-DE-ENERO-A-DICIEMBRE-DEL-2022-NORDVITAL.pdf";
import pdf9 from "@/pdf/2022/ESTADO-DE-CAMBIOS-EN-EL-PATRIMONIO-A-DICIEMBRE-DEL-2022-NORDVITAL.pdf";

//Pdfs 2021
import pdf10 from "@/pdf/2021/NOTAS-A-LOS-ESTADOS-FINANCIEROS-2021-NORDVITAL-IPS-SAS-2.pdf";
import pdf11 from "@/pdf/2021/CERTIFICACIÓN-DE-ESTADOS-FINANCIEROS-2021-1.pdf";
import pdf12 from "@/pdf/2021/DICTAMEN-REVISOR-FISCAL-Nordvital-2021-1.pdf";
import pdf13 from "@/pdf/2021/NOTAS-A-LOS-ESTADOS-FINANCIEROS-2021-NORDVITAL-IPS-SAS-1.pdf";

//Pdfs 2020
import pdf14 from "@/pdf/2020/ESTADO-SITUACION-FINANCIERA.pdf";
import pdf15 from "@/pdf/2020/CERTIFICADO-DE-LOS-ESTADOS-FINANCIEROS.pdf";
import pdf16 from "@/pdf/2020/DICTAMEN-DEL-REVISOR-FISCAL.pdf";
import pdf17 from "@/pdf/2020/NOTAS-A-LOS-ESTADOS-FINANCIEROS-2020.pdf";
import pdf18 from "@/pdf/2020/ESTADO-GANANCIAS-PERDIDAS-2020.pdf";
---

<Layout title="Estado Financiero">
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <main class="overflow-x-hidden">
    <HeroSection title="Estado Financiero" backgroundImage={img} />

    <section class="estados__container container mx-auto px-4 py-8">
      <div class="grid gap-8 lg:grid-cols-2 xl:grid-cols-2 max-w-5xl mx-auto">
        <!-- Sección 2023 -->
        <section class="estados__item bg-white p-6 rounded-lg shadow-lg">
          <nav class="nav__estado">
            <h1 class="text-3xl font-semibold text-gray-700 mb-4">2023</h1>
            <ul class="space-y-3">
              <li>
                <a
                  href={pdf}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Estado de situación financiera.</a
                >
              </li>
              <li>
                <a
                  href={pdf2}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Certificado de los estados financieros.</a
                >
              </li>
              <li>
                <a
                  href={pdf3}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Estados de ganancias y pérdidas.</a
                >
              </li>
              <li>
                <a
                  href={pdf4}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Dictamen del revisor fiscal.</a
                >
              </li>
            </ul>
          </nav>
        </section>

        <!-- Sección 2022 -->
        <section class="estados__item bg-white p-6 rounded-lg shadow-lg">
          <nav class="nav__estado">
            <h1 class="text-3xl font-semibold text-gray-700 mb-4">2022</h1>
            <ul class="space-y-3">
              <li>
                <a
                  href={pdf5}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Estado de situación financiera.</a
                >
              </li>
              <li>
                <a
                  href={pdf6}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Notas a los Estados de situación financiera.</a
                >
              </li>
              <li>
                <a
                  href={pdf7}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Estados del flujo de efectivo de enero a diciembre.</a
                >
              </li>
              <li>
                <a
                  href={pdf8}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Estados de resultados de enero a diciembre.</a
                >
              </li>
              <li>
                <a
                  href={pdf9}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Estados de cambios en el patrimonio a diciembre.</a
                >
              </li>
            </ul>
          </nav>
        </section>

        <!-- Sección 2021 -->
        <section class="estados__item bg-white p-6 rounded-lg shadow-lg">
          <nav class="nav__estado">
            <h1 class="text-3xl font-semibold text-gray-700 mb-4">2021</h1>
            <ul class="space-y-3">
              <li>
                <a
                  href={pdf10}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Notas a los estados financieros.</a
                >
              </li>
              <li>
                <a
                  href={pdf11}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Certificado de los estados financieros.</a
                >
              </li>
              <li>
                <a
                  href={pdf12}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Dictamen del revisor fiscal.</a
                >
              </li>
              <li>
                <a
                  href={pdf13}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Estados de ganancias y perdidas.</a
                >
              </li>
            </ul>
          </nav>
        </section>

        <!-- Sección 2020 -->
        <section class="estados__item bg-white p-6 rounded-lg shadow-lg">
          <nav class="nav__estado">
            <h1 class="text-3xl font-semibold text-gray-700 mb-4">2020</h1>
            <ul class="space-y-3">
              <li>
                <a
                  href={pdf14}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Estado de situación financiera</a
                >
              </li>
              <li>
                <a
                  href={pdf15}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Certificado de los estados financieros.</a
                >
              </li>
              <li>
                <a
                  href={pdf16}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Dictamen del revisor fiscal.</a
                >
              </li>
              <li>
                <a
                  href={pdf17}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Notas a los estados financieros.</a
                >
              </li>
              <li>
                <a
                  href={pdf18}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-blue-500 hover:text-blue-700"
                  >Estados de ganancias y perdidas.</a
                >
              </li>
            </ul>
          </nav>
        </section>
      </div>
    </section>
  </main>
</Layout>
