---
import HeroSection from "@/components/common/HeroSection.astro";
import Layout from "../../layouts/Layout.astro";

//images
import img from "@/images/Header/USUARIOS_11zon.webp?url";
import img2 from "@/images/Usuarios/Asociacion-Usuaris/asociacion-usuarios.webp";

//icons
import ico1 from "@/images/Usuarios/Asociacion-Usuaris/ico-f1.svg";
import ico2 from "@/images/Usuarios/Asociacion-Usuaris/ico-f2.svg";
import ico3 from "@/images/Usuarios/Asociacion-Usuaris/ico-f3.svg";
import ico4 from "@/images/Usuarios/Asociacion-Usuaris/ico-f4.svg";
import ico5 from "@/images/Usuarios/Asociacion-Usuaris/ico-f5.svg";
import ico6 from "@/images/Usuarios/Asociacion-Usuaris/ico-f6.svg";
import { Image } from "astro:assets";
---

<Layout title="Asociación">
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <main class="overflow-x-hidden bg-gray-100">
    <HeroSection title="Asociación de usuarios" backgroundImage={img} />

    <div
      class="container items-center mx-auto md:px-[52px] h-auto w-[90%] flex flex-col xl:flex-row"
    >
      <div class="rounded-3xl p-4 mb-4 w-full text-xl">
        <h1 class="text-4xl font-bold text-teal-500 mb-4">
          La asociación de usuarios
        </h1>
        <h3><em class="text-2xl">¿Qué es?</em></h3><br />
        <p class="text-gray-600 mb-4">
          La Junta de Usuarios en <span>NordVital IPS</span> es un órgano fundamental
          para asegurar que los servicios de salud prestados por la institución se
          ajusten a las necesidades y expectativas de sus usuarios.
        </p>
        <p class="text-gray-600">
          Este cuerpo consultivo y veedor está compuesto por representantes
          elegidos democráticamente entre la comunidad de usuarios, y su
          principal función es actuar como enlace entre los usuarios y la
          administración de la IPS.
        </p>
        <p class="text-gray-600">
          La Asociación de Usuarios tiene un papel clave en la representación de
          las inquietudes, quejas y sugerencias de los usuarios, garantizando
          así que sus voces sean escuchadas y tenidas en cuenta en la toma de
          decisiones relacionadas con la prestación de servicios de salud.
        </p>
      </div>

      <div class="w-[90%] md:w-2/3 h-auto">
        <Image
          src={img2}
          alt=""
          widths={[700, 1026, 1449, 1600, 1840, 2048]}
          sizes="(min-width: 1420px) 37.53vw, (min-width: 780px) calc(3.55vw + 455px), (min-width: 400px) calc(100vw - 24px), calc(16.25vw + 294px)"
        />
      </div>
    </div>

    <div
      class="mx-auto text-center text-teal-500 text-[30px] md:text-4xl font-semibold w-[80%] lg:w-[30%] leading-8 md:leading-10 mt-10"
    >
      <h1>
        Principales funciones de una junta de usuarios en <em>NordVital IPS</em>
      </h1>
    </div>

    <div class="py-8">
      <section
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 w-[90%] max-w-5xl mx-auto"
      >
        <div
          class="flex flex-col items-center justify-center gap-4 p-6 border border-gray-200 hover:border-sky-400 rounded-lg shadow-lg hover:shadow-xl transition-all duration-500"
        >
          <img src={ico1.src} alt="Participación" class="w-16 h-16 mb-4" />
          <p class="text-center text-xl font-semibold text-gray-800">
            Participación en la Planificación y Evaluación
          </p>
        </div>

        <div
          class="flex flex-col items-center justify-center gap-4 p-6 border border-gray-200 hover:border-sky-400 rounded-lg shadow-lg hover:shadow-xl transition-all duration-500"
        >
          <img src={ico2.src} alt="Representación" class="w-16 h-16 mb-4" />
          <p class="text-center text-xl font-semibold text-gray-800">
            Representación de los Usuarios
          </p>
        </div>

        <div
          class="flex flex-col items-center justify-center gap-4 p-6 border border-gray-200 hover:border-sky-400 rounded-lg shadow-lg hover:shadow-xl transition-all duration-500"
        >
          <img src={ico3.src} alt="Mediación" class="w-16 h-16 mb-4" />
          <p class="text-center text-xl font-semibold text-gray-800">
            Mediación de Conflictos
          </p>
        </div>

        <div
          class="flex flex-col items-center justify-center gap-4 p-6 border border-gray-200 hover:border-sky-400 rounded-lg shadow-lg hover:shadow-xl transition-all duration-500"
        >
          <img src={ico4.src} alt="Educación" class="w-16 h-16 mb-4" />
          <p class="text-center text-xl font-semibold text-gray-800">
            Educación y Sensibilización
          </p>
        </div>

        <div
          class="flex flex-col items-center justify-center gap-4 p-6 border border-gray-200 hover:border-sky-400 rounded-lg shadow-lg hover:shadow-xl transition-all duration-500"
        >
          <img src={ico5.src} alt="Control" class="w-16 h-16 mb-4" />
          <p class="text-center text-xl font-semibold text-gray-800">
            Control Social
          </p>
        </div>

        <div
          class="flex flex-col items-center justify-center gap-4 p-6 border border-gray-200 hover:border-sky-400 rounded-lg shadow-lg hover:shadow-xl transition-all duration-500"
        >
          <img src={ico6.src} alt="Promoción" class="w-16 h-16 mb-4" />
          <p class="text-center text-xl font-semibold text-gray-800">
            Promoción de Derechos y Deberes
          </p>
        </div>
      </section>
    </div>
  </main>
</Layout>
